/.vs
/Binaries
.vsconfig
/Build
Content/Blueprints/NewMap.umap
/DerivedDataCache
/Intermediate
/Plugins/AsyncLoadingScreen/Binaries
/Plugins/AuroraDevs_RHS/Binaries
/Plugins/CreateModPlugin/Intermediate
/Plugins/GASFramework/Binaries
/Plugins/LQuickFrame/Binaries
/Plugins/ModularGameplayActors/Intermediate
/Plugins/UnLua/Intermediate
EasternEra.sln
/Plugins/BinkMedia/Intermediate
/Plugins/CommonGame/Intermediate
/Plugins/CommonUser/Intermediate
/Plugins/GASFramework/Intermediate
/Plugins/LQuickFrame/Intermediate
/Saved
/Mods
